<h2>Hand Drawing Board Demo</h2>

<h3>Drawing Board</h3>
<canvas id="canvas" width="360" height="200"></canvas>

<button (click)="toSVG()">to SVG</button>
<button (click)="clear()">clear</button>

<label>line width:</label>
<select #select (change)="onLineWidthChange(select.value)">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
</select>

<hr>
<h3>SVG Result</h3>
<img [src]="svgSrcUrl" id="svg-result">
